body
{
 padding:2px;
 margin: 10px; 
 background: #322741;  
 height: 12px;
 width: 50%;
}
.head
{
    background-position: center;
    padding:10px;
    margin:auto;
    border-radius: 30%;
    display:inline-block;
    background-color: #ffff;
    text-align: center;
}
.logo
{
    background-position: 50px, 30px;
width:300px;
padding: 100px;
}
.corner
{
    background-color: #ffffff;
    margin: 20px;
    background-position: 50px, 50px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 400px;
    height:500px;
    
    display: inline-block;
  }
  .header
{
    Padding:5px;
}
.center {
    margin: 12px;
    width: 80%;
    border: 1px solid #192805;
    padding: 10px;
    border-radius: 12px;
  }
  .signin
  {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
font-family: Arial;
  }
  .closeeye
  {
    background-position: 10px;
  }
  .forget
  {
    color: #F16390;
    text-align: right;
    padding: 5px;
    margin: 12px;
  }
